@import url("variables.css");

#add-skin-button {
  position: sticky;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--accent-color);
  border: none;
  padding: 0px 20px;
  color: var(--font-light);
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
  height: 55px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  cursor: pointer;
}
main {
  max-width: 1600px;
  margin-inline: auto;
}
main > ul {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  list-style-type: none;
}
.skin {
  flex-basis: 460px;
  max-width: calc(25%-4rem);
  flex-grow: 1;
}
.skin-image {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 300px;
}
.skin-image > img {
  width: 100%;
  max-width: 400px;
}
.skin-title {
  font-size: 1.5rem;
  line-height: 1.75em;
  font-weight: 600;
}
.skin-quality,
.skin-collection {
  font-size: 1rem;
  line-height: 1.5em;
  color: var(--font-darker);
}

.skin-caption {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.skin-caption > i {
  font-size: 1.5rem;
  margin: 1rem;
}

.skin-dropdown {
  background-color: var(--background-lighter);
  list-style-type: none;
  padding: 1rem;
  position: absolute;
  border: 1px solid var(--font-darker);
  right: -5rem;
  z-index: 2;
  top: 3rem;
  display: none;
}
.skin-dropdown li {
  padding: 0.5rem;
}
.skin-dropdown a {
  color: var(--font-light);
}
.moreButton:hover + .skin-dropdown {
  display: block;
}
.skin-dropdown:hover {
  display: block;
}
